.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(86, 21, 48) 0%,
    rgb(129, 24, 68) 35%,
    rgb(158, 28, 96) 70%,
    rgb(245, 173, 24) 100%
  );
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBanner {
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons a {
  background: #811844;
  color: white !important;
}

.description {
  max-width: 600px;
  margin: 1rem auto 2rem;
  color: #f8d7e9;
}
